div.header{
    top:0;
    margin-left:3px;
    padding:0;
    padding-bottom: 1%;
    border-radius: 25px;
    background: linear-gradient(midnightblue, cornflowerblue);
    width: 100%;
    position:  sticky;
   
}

nav{
    text-align:center;
    margin-left:39%;
    padding-top:1%;
}



 nav a{
    text-decoration:none;
    color:rgba(229, 238, 219, 0.855);
    font-size:22px;
    font-weight:bold;
    letter-spacing:1px;
    margin-left:5%;
    

}
span.mrg{
    margin-left:-9%;
    margin-right:15%;
   
}
input{
    padding-right:20%;
}

span:hover.effect{
    color:darkgrey;
    box-shadow: 6px 4px 30px blue; 
}

.logo{ 
    position: absolute;
    margin-top:-2.2%;
    padding:0px;
   height: 150px;
   width:200px;
   float:left;
  
}
body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/57c65d5f-1d28-4bab-a4cc-564d0126d063/d7z0h0p-2db211c9-d53a-4d78-aa65-7dcf1d25b4fb.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU3YzY1ZDVmLTFkMjgtNGJhYi1hNGNjLTU2NGQwMTI2ZDA2M1wvZDd6MGgwcC0yZGIyMTFjOS1kNTNhLTRkNzgtYWE2NS03ZGNmMWQyNWI0ZmIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HHbzm5QL_E49lnfwHYJNQPsWPW7CIX99uiiFwY7fmRA");  
    width:1500px;
}
img.home{
    height: 20px;
    width:24px;
    margin-right:2px;
    margin-bottom:7px;
}

footer{
 padding-top:90%;
 text-align: center;


}
footer span{

    background-color: gold;
}
table{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    
}
img.phone{
    width:55%;
}
.body{
    margin-left:8%;
}